@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --header-height: 4rem;
  --footer-height: 2.5rem;
  --font-sans: "Inter";
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  .container {
    @apply md:!max-w-[880px] lg:!max-w-[1140px] xl:!max-w-[1420px] !max-w-[94dvw] w-full mx-auto px-4;
  }
}
