package views

import (
	test "github.com/CanPacis/pacis/test/cases"
	"github.com/CanPacis/pacis/ui"
)

templ Home(pages []*test.TestPage) {
	@layout("Home") {
		@header("Home")
		<main class="p-4 max-w-[min(720px,_94%)] mx-auto pt-20">
			for _, page := range pages {
				<p>
					@ui.Link(templ.SafeURL(page.Path())) {
						{ page.Name }
					}
				</p>
			}
		</main>
	}
}
