package views

import "github.com/CanPacis/pacis/ui"

templ layout(title string) {
	<!DOCTYPE html>
	<html lang="en" data-theme={ ui.GetApp(ctx).Theme.ColorScheme.String() }>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			@ui.GetApp(ctx).ResourceProvider.Head
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

templ header(name string) {
	<header class="fixed top-0 left-0 z-50 w-full gap-4 px-6 py-4 bg-p-background-200">
		<div class="flex items-center justify-between">
			<div class="flex flex-col gap-2">
				<nav class="flex items-center gap-3">
					@ui.Link(templ.SafeURL("/")).AddClass("rounded") {
						<h1 class="text-2xl font-bold text-p-gray-1000">
							{ name }
						</h1>
					}
				</nav>
			</div>
			<form method="GET" action="/web/theme">
				@ui.IconButton("brush").Variant(ui.SizeSmall).Attr("name", "color-scheme").Type(ui.ButtonTypeSubmit).Value(getNextScheme(ctx))
			</form>
		</div>
	</header>
}
