package test

import "github.com/CanPacis/pacis/ui"

templ radioTest() {
	<div class="flex gap-4 items center">
		@ui.Radio()
		@ui.Radio().Text("Text")
	</div>
}

templ radioDisabledTest() {
	<div class="flex gap-4 items center">
		@ui.Radio().Text("Disabled").Disabled(true)
	</div>
}

templ radioGroupTest() {
	<div class="flex gap-12 items center">
		@ui.RadioGroup("vertical", "Vertical", "Option 1", "Option 2", "Option 3", "None")
		<div class="flex flex-col gap-4">
			@ui.RadioGroup("horizontal", "Horizontal", "Option 1", "Option 2", "Option 3", "None").Alignment(ui.Horizontal)
			@ui.RadioGroup("horizontal-2", "Horizontal 2", "Option 1", "Option 2", "Option 3", "None").Alignment(ui.Horizontal).Spacing(6)
			@ui.RadioGroup("horizontal-3", "Horizontal 3", "Option 1", "Option 2", "Option 3", "None").Alignment(ui.Horizontal).Spacing(8)
		</div>
	</div>
}

func init() {
	page := NewTestPage(UITestPage, "Radio", "A radio button is a UI element that allows users to select one option from a predefined set of mutually exclusive choices.", "radio")
	page.Define("Radio", radioTest())
	page.Define("Radio Disabled", radioDisabledTest())
	page.Define("Radio Group", radioGroupTest())
	RegisterPage(page)
}