package test

import "github.com/CanPacis/pacis/ui"

templ sinppetTest() {
  <div class="flex gap-2">
    @ui.Snippet("go get github.com/CanPacis/pacis/ui", "go get github.com/CanPacis/pacis/ui").Prefix("$")
    @ui.Snippet("go get github.com/CanPacis/pacis/ui").Prefix("$").Variant(ui.ColorSecondary)
  </div>
}

func init() {
  page := NewTestPage(UITestPage, "Snippet", "", "snippet")
  page.Define("Snippet Test", sinppetTest())

  RegisterPage(page)
}