@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --header-height: 4rem;
  --footer-height: 2.5rem;
  --font-sans: "Inter";
  --font-mono: "JetBrains Mono", monospace;
  --color-ring: var(--ring);
}


:root {
  --ring: oklch(0.708 0 0);
}

.dark {
  --ring: oklch(0.556 0 0);
}

@layer base {
  .container {
    @apply md:!max-w-[880px] lg:!max-w-[1140px] xl:!max-w-[1420px] !max-w-[94dvw] w-full mx-auto px-4;
  }
  .focusable {
    @apply focus-visible:outline-none focus-visible:ring-ring/50 focus-visible:ring-[3px] rounded-sm;
  }
}
